<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.roadz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:name="com.app.roadz.app.MainApplication_"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.app.roadz.modules.Splash.SplashActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.app.roadz.modules.AdsSlider.AdsActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".modules.Splash.LoginRegisterGuestActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.AdsSlider.ImageSliderActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.Home.HomeActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.User.LoginActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.User.SignUp.SignUpActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.Notification.NotificationsListActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.User.EditProfileActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.OurServices.OurServicesActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.Setting.StaticDataActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.Setting.ContactUSActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.Setting.SettingActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.MyCars.MyCarsListActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.MyCars.AddCarActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.MySubscriptions.MySubscriptionsListActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.Emergency.ChooseCarsActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.Splash.SelectLanguageActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.OurServices.EmergencyWithoutLoginActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.User.EditPasswordActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.Emergency.EmergencySubscriptionActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.Emergency.EmergencyCheckOut_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.Emergency.EmergencyPaymentStatus_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.Emergency.BreakdownServiceActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name="com.app.roadz.modules.Emergency.RequestServiesPaymentStatus_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.User.ForgotPasswordActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".modules.Emergency.CarSevies.ChooseCarsServicesActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".modules.ServicesOverview.ServicesOverviewActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".modules.ServicesOverview.DemoRequestServiesPaymentStatus_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

       <activity
            android:name=".modules.Emergency.CarSevies.SelectLocationOnMapActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.Home.YoutubePlayerActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.app.roadz.modules.Emergency.LocationOnMapActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            android:windowSoftInputMode="stateHidden|adjustResize"/>


        <activity
            android:name="com.schibstedspain.leku.LocationPickerActivity"
            android:label="@string/leku_title_activity_location_picker"
            android:parentActivityName="com.app.roadz.modules.Home.HomeActivity"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme2"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/leku_searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.roadz.modules.Home.HomeActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBzifbPnfPW4wMwv6e5U5VPM7q7cF3cz4I" />

        <service android:name="com.app.roadz.FCM.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


    </application>

</manifest>